{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/race.css') }}" />
{% endblock %}


{% block body_tag %}
	data-ajax_url_submit_times="{{ path('validate/submit') }}"
    data-ajax_url_load_map="{{ path('editor/load') }}"
    data-sc_block_face_url="{{ asset(aC_dirs.blocks.face) }}"
    data-sc_block_stroke_url="{{ asset(aC_dirs.blocks.stroke) }}"
    data-sc_spritesheet_url="{{ asset(aC_dirs.spritesheets) }}"
    data-jc_blocks="{{ aC_blocks|json_encode }}"
    data-jc_spritesheets="{{ aC_spritesheets|json_encode }}"
    data-jc_map="{{ aC_map|json_encode }}"
    data-jc_ship="{{ aC_ship|json_encode }}"
{% endblock %}

{% block body %}
    <div id="game-canvas"> 
        <span id="debug" style="position:absolute; top:0; left:0; color:red; z-index:100;"></span>
        <img id="bg" src="{{ asset('images/bg_space_1.jpg') }}" />
        <div id="camera-container">
            <div id="map-container">
                <img src="" alt="" id="map" />
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/lib/easeljs-0.8.2.min.js') }}"></script>

    <script src="{{ asset('js/components/base.component.js') }}"></script>
    <script src="{{ asset('js/components/race2.component.js') }}"></script>
    <script src="{{ asset('js/components/api.component.js') }}"></script>

    <script src="{{ asset('js/class/AlphaBlock.class.js') }}"></script>
    <script src="{{ asset('js/class/TerrainBlock.class.js') }}"></script>
    <script src="{{ asset('js/class/BlockData.class.js') }}"></script>
    <script src="{{ asset('js/class/KeyController.class.js') }}"></script>
    <script src="{{ asset('js/class/VtKeyController.class.js') }}"></script>
    <script src="{{ asset('js/class/VtClock.class.js') }}"></script>
    <script src="{{ asset('js/class/Grid.class.js') }}"></script>
    <script src="{{ asset('js/class/Ship.class.js') }}"></script>
    <script src="{{ asset('js/class/Map.class.js') }}"></script>
    <script src="{{ asset('js/class/SimpleDisplay.class.js') }}"></script>

    <script src="{{ asset('js/controller/race.js') }}"></script>
{% endblock %}